<section class="">
  <header class="dashboard-header navbar-static-top">
      <h1><%= t('flash.app.title') %></h1>
  </header>

  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <%= link_to t('sessions.label_logout_button'),  '/logout', :class => 'blog-nav-item active' %>
      </nav>
    </div>
  </div>
</section>
